<lib-page-container>
	<ng-template #main>
		<p-card
			[header]="(transaction.id ? 'Edit' : 'Create') + ' Transaction'"
			styleClass="bg-white mt-3 mb-3"
		>
			<form
				*ngIf="transactionForm"
				[formGroup]="transactionForm"
				(ngSubmit)="onSubmit()"
				class="d-flex flex-wrap"
			>
				<div class="mb-5 col-12">
					<span class="p-float-label">
						<input pInputText id="name" type="text" formControlName="name" />
						<label for="name">Transaction Name</label>
					</span>
				</div>

				<div class="mb-5 col-12">
					<span class="p-float-label">
						<p-calendar
							formControlName="transactionDate"
							[showIcon]="true"
							[touchUI]="true"
							[monthNavigator]="true"
							[yearNavigator]="true"
							yearRange="1950:2030"
							[showTime]="true"
							[showButtonBar]="true"
						></p-calendar>
						<label for="lastName">Date of Transaction</label>
					</span>
				</div>
			</form>
		</p-card>
	</ng-template>
	<ng-template #footer>
		<edit-toolbar
			(delete)="onDelete($event)"
			(save)="onSubmit($event)"
			[hideDelete]="!transaction.id"
		></edit-toolbar>
	</ng-template>
</lib-page-container>
