/* You can add global styles to this file, and also import other style files */

// @import '~bootstrap/scss/bootstrap';
$primary: #ffb53d;
$secondary: #3d9bff;
$info: #d23dff;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_utilities';
@import '~bootstrap/scss/grid';

@import '../../../libs/app-shell/src/index.scss';

html {
	font-size: 14px !important;
}

body {
	// font-family: 'Bubblegum Sans';
	font-family: verdana, arial, sans-serif;
	background-color: $secondary;
	// background-color: #dedede;
}

// OVERRIDES
body .p-calendar.p-calendar-w-btn .p-inputtext {
	width: 87%;
}

.p-calendar {
	width: 100%;
}

.p-dropdown {
	width: 100%;
}

.p-inputtext {
	width: 100%;
}

.p-inputnumber {
	width: 100%;
}
