/* You can add global styles to this file, and also import other style files */

// @import '~bootstrap/scss/bootstrap';
$primary: #ffb53d;
$secondary: #3d9bff;
$info: #d23dff;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_utilities';

@import '../../../node_modules/primeflex/primeflex.css';
@import '../../../node_modules/primeicons/primeicons.css';
@import '../../../node_modules/primeng/resources/primeng.min.css';

@import './assets/styles/nova-dark/theme.css';

@import '../../../libs/app-shell/src/index.scss';

body {
	// font-family: 'Bubblegum Sans';
	background-color: $secondary;
	// background-color: #dedede;
}
